# 01. Importing libraries and data sets

Importing libaries

In [1]:
import pandas as pd
import numpy as np
import os

Creating a path

In [3]:
path = r'C:\Users\chris\Desktop\Upskilling\CareerFoundry\Data Immersion\Achievement 4\08-2025 Instacart Basket Analysis'

In [5]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
df_orders_products_combined.shape

(32434489, 11)

In [7]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,yes,196,1,0,both
1,2539329,1,1,2,8,0.0,yes,14084,2,0,both
2,2539329,1,1,2,8,0.0,yes,12427,3,0,both
3,2539329,1,1,2,8,0.0,yes,26088,4,0,both
4,2539329,1,1,2,8,0.0,yes,26405,5,0,both

Importing the latest version of 'products' data set

In [8]:
df_prods = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [9]:
df_prods.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

Removing unwanted columns

In [10]:
df_prods = df_prods.drop('Unnamed: 0', axis=1)

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
df_orders_products_combined = df_orders_products_combined.drop('_merge', axis=1)

reducing the size of the data types before merging

In [31]:
print(df_orders_products_combined.dtypes)

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
first_order                object
product_id                  int64
add_to_cart_order           int64
reordered                   int64
dtype: object

In [33]:
int_columns = df_orders_products_combined.select_dtypes(include=['int']).columns
df_orders_products_combined[int_columns] = df_orders_products_combined[int_columns].apply(pd.to_numeric, downcast='integer')

In [34]:
print(df_orders_products_combined.dtypes)

order_id                    int32
user_id                     int32
order_number                 int8
orders_day_of_week           int8
order_hour_of_day            int8
days_since_prior_order    float64
first_order                object
product_id                  int32
add_to_cart_order           int16
reordered                    int8
dtype: object

Merging the two df with merge function on product_id column

In [35]:
df_merged_prods = df_orders_products_combined.merge(df_prods[["product_id", "product_name", "department_id"]], on = 'product_id', how = "left", indicator = True)

In [37]:
df_merged_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,department_id,_merge
0,2539329,1,1,2,8,0.0,yes,196,1,0,Soda,7.0,both
1,2539329,1,1,2,8,0.0,yes,14084,2,0,Organic Unsweetened Vanilla Almond Milk,16.0,both
2,2539329,1,1,2,8,0.0,yes,12427,3,0,Original Beef Jerky,19.0,both
3,2539329,1,1,2,8,0.0,yes,26088,4,0,Aged White Cheddar Popcorn,19.0,both
4,2539329,1,1,2,8,0.0,yes,26405,5,0,XL Pick-A-Size Paper Towel Rolls,17.0,both

Exporting merged file to a pickle file due to the size

In [39]:
df_merged_prods.to_pickle(os.path.join(path, '02. Data','Prepared Data', 'order_products_merged.pkl'))