# 01. Importing libraries and data sets

Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

Creating a Path

In [2]:
path = r'C:\Users\chris\Desktop\Upskilling\CareerFoundry\Data Immersion\Achievement 4\08-2025 Instacart Basket Analysis'

Importing Data

In [3]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'order_products_new_variables.pkl'))

Subset of the first million rows

In [4]:
df = df_ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 19)

In [6]:
df.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,department_id,_merge,meat_eater,prices,_merge_prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,0.0,yes,196,1,0,Soda,7.0,both,No,9.0,both,Mid-range product,Regularly busy,Average order
1,2539329,1,1,2,8,0.0,yes,14084,2,0,Organic Unsweetened Vanilla Almond Milk,16.0,both,No,12.5,both,Mid-range product,Regularly busy,Average order
2,2539329,1,1,2,8,0.0,yes,12427,3,0,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Regularly busy,Average order
3,2539329,1,1,2,8,0.0,yes,26088,4,0,Aged White Cheddar Popcorn,19.0,both,No,4.7,both,Low-range product,Regularly busy,Average order
4,2539329,1,1,2,8,0.0,yes,26405,5,0,XL Pick-A-Size Paper Towel Rolls,17.0,both,No,1.0,both,Low-range product,Regularly busy,Average order
5,2398795,1,2,3,7,15.0,no,196,1,1,Soda,7.0,both,No,9.0,both,Mid-range product,Slowest days,Average order
6,2398795,1,2,3,7,15.0,no,10258,2,0,Pistachios,19.0,both,No,3.0,both,Low-range product,Slowest days,Average order
7,2398795,1,2,3,7,15.0,no,12427,3,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Slowest days,Average order
8,2398795,1,2,3,7,15.0,no,13176,4,0,Bag of Organic Bananas,4.0,both,No,10.3,both,Mid-range product,Slowest days,Average order
9,2398795,1,2,3,7,15.0,no,26088,5,1,Aged White Cheddar Popcorn,19.0,both,No,4.7,both,Low-range product,Slowest days,Average order

In [7]:
df.groupby('product_name')

In [8]:
df.groupby('department_id')

In [9]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.792366
2.0              17.091743
3.0              17.918637
4.0              17.890869
5.0              15.214270
6.0              15.377526
7.0              17.699579
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.478841
12.0             15.614096
13.0             16.483747
14.0             17.520424
15.0             15.690354
16.0             18.013246
17.0             16.155822
18.0             19.606536
19.0             17.628324
20.0             17.137148
21.0             21.996844

In [10]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              14.792366   1  99
2.0              17.091743   1  98
3.0              17.918637   1  99
4.0              17.890869   1  99
5.0              15.214270   1  99
6.0              15.377526   1  99
7.0              17.699579   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.478841   1  99
12.0             15.614096   1  99
13.0             16.483747   1  99
14.0             17.520424   1  99
15.0             15.690354   1  99
16.0             18.013246   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.628324   1  99
20.0             17.137148   1  99
21.0             21.996844   1  97

In [11]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\chris\AppData\Local\Temp\ipykernel_11520\136815596.py:1: FutureWarning: The provided callable <function max at 0x00000249D00DF1A0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
df_ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,department_id,_merge,meat_eater,prices,_merge_prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,0.0,yes,196,1,0,Soda,7.0,both,No,9.0,both,Mid-range product,Regularly busy,Average order,10
1,2539329,1,1,2,8,0.0,yes,14084,2,0,Organic Unsweetened Vanilla Almond Milk,16.0,both,No,12.5,both,Mid-range product,Regularly busy,Average order,10
2,2539329,1,1,2,8,0.0,yes,12427,3,0,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Regularly busy,Average order,10
3,2539329,1,1,2,8,0.0,yes,26088,4,0,Aged White Cheddar Popcorn,19.0,both,No,4.7,both,Low-range product,Regularly busy,Average order,10
4,2539329,1,1,2,8,0.0,yes,26405,5,0,XL Pick-A-Size Paper Towel Rolls,17.0,both,No,1.0,both,Low-range product,Regularly busy,Average order,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,no,21150,13,0,Fire Grilled Steak Bowl,1.0,both,No,5.9,both,Mid-range product,Regularly busy,Most orders,14
96,1673511,2,5,3,11,8.0,no,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,16.0,both,No,14.0,both,Mid-range product,Slowest days,Most orders,14
97,1673511,2,5,3,11,8.0,no,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,19.0,both,No,2.9,both,Low-range product,Slowest days,Most orders,14
98,1673511,2,5,3,11,8.0,no,17224,3,0,Oats & Honey Gluten Free Granola,19.0,both,No,1.6,both,Low-range product,Slowest days,Most orders,14
99,1673511,2,5,3,11,8.0,no,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,19.0,both,No,3.4,both,Low-range product,Slowest days,Most orders,14

In [13]:
df_ords_prods_merge['user_id'].head

<bound method NDFrame.head of 0                1
1                1
2                1
3                1
4                1
             ...
32436194    206209
32436195    206209
32436196    206209
32436197    206209
32436198    206209
Name: user_id, Length: 32436199, dtype: int32>

In [14]:
pd.options.display.max_rows = None

In [15]:
df_ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,department_id,_merge,meat_eater,prices,_merge_prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,0.0,yes,196,1,0,Soda,7.0,both,No,9.0,both,Mid-range product,Regularly busy,Average order,10
1,2539329,1,1,2,8,0.0,yes,14084,2,0,Organic Unsweetened Vanilla Almond Milk,16.0,both,No,12.5,both,Mid-range product,Regularly busy,Average order,10
2,2539329,1,1,2,8,0.0,yes,12427,3,0,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Regularly busy,Average order,10
3,2539329,1,1,2,8,0.0,yes,26088,4,0,Aged White Cheddar Popcorn,19.0,both,No,4.7,both,Low-range product,Regularly busy,Average order,10
4,2539329,1,1,2,8,0.0,yes,26405,5,0,XL Pick-A-Size Paper Towel Rolls,17.0,both,No,1.0,both,Low-range product,Regularly busy,Average order,10
5,2398795,1,2,3,7,15.0,no,196,1,1,Soda,7.0,both,No,9.0,both,Mid-range product,Slowest days,Average order,10
6,2398795,1,2,3,7,15.0,no,10258,2,0,Pistachios,19.0,both,No,3.0,both,Low-range product,Slowest days,Average order,10
7,2398795,1,2,3,7,15.0,no,12427,3,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Slowest days,Average order,10
8,2398795,1,2,3,7,15.0,no,13176,4,0,Bag of Organic Bananas,4.0,both,No,10.3,both,Mid-range product,Slowest days,Average order,10
9,2398795,1,2,3,7,15.0,no,26088,5,1,Aged White Cheddar Popcorn,19.0,both,No,4.7,both,Low-range product,Slowest days,Average order,10
10,2398795,1,2,3,7,15.0,no,13032,6,0,Cinnamon Toast Crunch,14.0,both,No,4.0,both,Low-range product,Slowest days,Average order,10
11,473747,1,3,3,12,21.0,no,196,1,1,Soda,7.0,both,No,9.0,both,Mid-range product,Slowest days,Most orders,10
12,473747,1,3,3,12,21.0,no,12427,2,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Slowest days,Most orders,10
13,473747,1,3,3,12,21.0,no,10258,3,1,Pistachios,19.0,both,No,3.0,both,Low-range product,Slowest days,Most orders,10
14,473747,1,3,3,12,21.0,no,25133,4,0,Organic String Cheese,16.0,both,No,8.6,both,Mid-range product,Slowest days,Most orders,10
15,473747,1,3,3,12,21.0,no,30450,5,0,Creamy Almond Butter,13.0,both,No,3.2,both,Low-range product,Slowest days,Most orders,10
16,2254736,1,4,4,7,29.0,no,196,1,1,Soda,7.0,both,No,9.0,both,Mid-range product,Slowest days,Average order,10
17,2254736,1,4,4,7,29.0,no,12427,2,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Slowest days,Average order,10
18,2254736,1,4,4,7,29.0,no,10258,3,1,Pistachios,19.0,both,No,3.0,both,Low-range product,Slowest days,Average order,10
19,2254736,1,4,4,7,29.0,no,25133,4,1,Organic String Cheese,16.0,both,No,8.6,both,Mid-range product,Slowest days,Average order,10
20,2254736,1,4,4,7,29.0,no,26405,5,1,XL Pick-A-Size Paper Towel Rolls,17.0,both,No,1.0,both,Low-range product,Slowest days,Average order,10
21,431534,1,5,4,15,28.0,no,196,1,1,Soda,7.0,both,No,9.0,both,Mid-range product,Slowest days,Most orders,10
22,431534,1,5,4,15,28.0,no,12427,2,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Slowest days,Most orders,10
23,431534,1,5,4,15,28.0,no,10258,3,1,Pistachios,19.0,both,No,3.0,both,Low-range product,Slowest days,Most orders,10
24,431534,1,5,4,15,28.0,no,25133,4,1,Organic String Cheese,16.0,both,No,8.6,both,Mid-range product,Slowest days,Most orders,10
25,431534,1,5,4,15,28.0,no,10326,5,0,Organic Fuji Apples,4.0,both,No,2.7,both,Low-range product,Slowest days,Most orders,10
26,431534,1,5,4,15,28.0,no,17122,6,0,Honeycrisp Apples,4.0,both,No,14.0,both,Mid-range product,Slowest days,Most orders,10
27,431534,1,5,4,15,28.0,no,41787,7,0,Bartlett Pears,4.0,both,No,5.0,both,Low-range product,Slowest days,Most orders,10
28,431534,1,5,4,15,28.0,no,13176,8,1,Bag of Organic Bananas,4.0,both,No,10.3,both,Mid-range product,Slowest days,Most orders,10
29,3367565,1,6,2,7,19.0,no,196,1,1,Soda,7.0,both,No,9.0,both,Mid-range product,Regularly busy,Average order,10
30,3367565,1,6,2,7,19.0,no,12427,2,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Regularly busy,Average order,10
31,3367565,1,6,2,7,19.0,no,10258,3,1,Pistachios,19.0,both,No,3.0,both,Low-range product,Regularly busy,Average order,10
32,3367565,1,6,2,7,19.0,no,25133,4,1,Organic String Cheese,16.0,both,No,8.6,both,Mid-range product,Regularly busy,Average order,10
33,550135,1,7,1,9,20.0,no,196,1,1,Soda,7.0,both,No,9.0,both,Mid-range product,Busiest days,Most orders,10
34,550135,1,7,1,9,20.0,no,10258,2,1,Pistachios,19.0,both,No,3.0,both,Low-range product,Busiest days,Most orders,10
35,550135,1,7,1,9,20.0,no,12427,3,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Busiest days,Most orders,10
36,550135,1,7,1,9,20.0,no,25133,4,1,Organic String Cheese,16.0,both,No,8.6,both,Mid-range product,Busiest days,Most orders,10
37,550135,1,7,1,9,20.0,no,13032,5,1,Cinnamon Toast Crunch,14.0,both,No,4.0,both,Low-range product,Busiest days,Most orders,10
38,3108588,1,8,1,14,14.0,no,12427,1,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Busiest days,Most orders,10
39,3108588,1,8,1,14,14.0,no,196,2,1,Soda,7.0,both,No,9.0,both,Mid-range product,Busiest days,Most orders,10
40,3108588,1,8,1,14,14.0,no,10258,3,1,Pistachios,19.0,both,No,3.0,both,Low-range product,Busiest days,Most orders,10
41,3108588,1,8,1,14,14.0,no,25133,4,1,Organic String Cheese,16.0,both,No,8.6,both,Mid-range product,Busiest days,Most orders,10
42,3108588,1,8,1,14,14.0,no,46149,5,0,Zero Calorie Cola,7.0,both,No,13.4,both,Mid-range product,Busiest days,Most orders,10
43,3108588,1,8,1,14,14.0,no,49235,6,0,Organic Half & Half,16.0,both,No,1.8,both,Low-range product,Busiest days,Most orders,10
44,2295261,1,9,1,16,0.0,yes,49235,1,1,Organic Half & Half,16.0,both,No,1.8,both,Low-range product,Busiest days,Most orders,10
45,2295261,1,9,1,16,0.0,yes,46149,2,1,Zero Calorie Cola,7.0,both,No,13.4,both,Mid-range product,Busiest days,Most orders,10
46,2295261,1,9,1,16,0.0,yes,25133,3,1,Organic String Cheese,16.0,both,No,8.6,both,Mid-range product,Busiest days,Most orders,10
47,2295261,1,9,1,16,0.0,yes,196,4,1,Soda,7.0,both,No,9.0,both,Mid-range product,Busiest days,Most orders,10
48,2295261,1,9,1,16,0.0,yes,10258,5,1,Pistachios,19.0,both,No,3.0,both,Low-range product,Busiest days,Most orders,10
49,2295261,1,9,1,16,0.0,yes,12427,6,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Busiest days,Most orders,10
50,2550362,1,10,4,8,30.0,no,196,1,1,Soda,7.0,both,No,9.0,both,Mid-range product,Slowest days,Average order,10
51,2550362,1,10,4,8,30.0,no,46149,2,1,Zero Calorie Cola,7.0,both,No,13.4,both,Mid-range product,Slowest days,Average order,10
52,2550362,1,10,4,8,30.0,no,39657,3,0,Milk Chocolate Almonds,19.0,both,No,6.8,both,Mid-range product,Slowest days,Average order,10
53,2550362,1,10,4,8,30.0,no,38928,4,0,0% Greek Strained Yogurt,16.0,both,No,12.6,both,Mid-range product,Slowest days,Average order,10
54,2550362,1,10,4,8,30.0,no,25133,5,1,Organic String Cheese,16.0,both,No,8.6,both,Mid-range product,Slowest days,Average order,10
55,2550362,1,10,4,8,30.0,no,10258,6,1,Pistachios,19.0,both,No,3.0,both,Low-range product,Slowest days,Average order,10
56,2550362,1,10,4,8,30.0,no,35951,7,0,Organic Unsweetened Almond Milk,16.0,both,No,1.3,both,Low-range product,Slowest days,Average order,10
57,2550362,1,10,4,8,30.0,no,13032,8,1,Cinnamon Toast Crunch,14.0,both,No,4.0,both,Low-range product,Slowest days,Average order,10
58,2550362,1,10,4,8,30.0,no,12427,9,1,Original Beef Jerky,19.0,both,No,4.4,both,Low-range product,Slowest days,Average order,10
59,2168274,2,1,2,11,0.0,yes,32792,1,0,Chipotle Beef & Pork Realstick,19.0,both,No,5.2,both,Mid-range product,Regularly busy,Most orders,14
60,2168274,2,1,2,11,0.0,yes,47766,2,0,Organic Avocado,4.0,both,No,6.3,both,Mid-range product,Regularly busy,Most orders,14
61,2168274,2,1,2,11,0.0,yes,20574,3,0,Roasted Turkey,20.0,both,No,2.3,both,Low-range product,Regularly busy,Most orders,14
62,2168274,2,1,2,11,0.0,yes,12000,4,0,Baked Organic Sea Salt Crunchy Pea Snack,13.0,both,No,10.9,both,Mid-range product,Regularly busy,Most orders,14
63,2168274,2,1,2,11,0.0,yes,48110,5,0,Thin Stackers Brown Rice Lightly Salted,19.0,both,No,2.7,both,Low-range product,Regularly busy,Most orders,14
64,2168274,2,1,2,11,0.0,yes,22474,6,0,Cheddar Bunnies Snack Crackers,19.0,both,No,4.1,both,Low-range product,Regularly busy,Most orders,14
65,2168274,2,1,2,11,0.0,yes,16589,7,0,Plantain Chips,19.0,both,No,5.0,both,Low-range product,Regularly busy,Most orders,14
66,2168274,2,1,2,11,0.0,yes,35917,8,0,Organic Just Concord Grape Juice,7.0,both,No,9.4,both,Mid-range product,Regularly busy,Most orders,14
67,2168274,2,1,2,11,0.0,yes,27344,9,0,Uncured Genoa Salami,20.0,both,No,14.8,both,Mid-range product,Regularly busy,Most orders,14
68,2168274,2,1,2,11,0.0,yes,30489,10,0,Original Hummus,20.0,both,No,7.5,both,Mid-range product,Regularly busy,Most orders,14
69,2168274,2,1,2,11,0.0,yes,27966,11,0,Organic Raspberries,4.0,both,No,4.4,both,Low-range product,Regularly busy,Most orders,14
70,2168274,2,1,2,11,0.0,yes,13176,12,0,Bag of Organic Bananas,4.0,both,No,10.3,both,Mid-range product,Regularly busy,Most orders,14
71,2168274,2,1,2,11,0.0,yes,45066,13,0,Honeycrisp Apple,4.0,both,No,2.5,both,Low-range product,Regularly busy,Most orders,14
72,1501582,2,2,5,10,10.0,no,16797,1,0,Strawberries,4.0,both,No,1.3,both,Low-range product,Regularly busy,Most orders,14
73,1501582,2,2,5,10,10.0,no,47526,2,0,Goat Cheese Log,16.0,both,No,2.0,both,Low-range product,Regularly busy,Most orders,14
74,1501582,2,2,5,10,10.0,no,8479,3,0,Original Black Box Tablewater Cracker,19.0,both,No,3.5,both,Low-range product,Regularly busy,Most orders,14
75,1501582,2,2,5,10,10.0,no,47766,4,1,Organic Avocado,4.0,both,No,6.3,both,Mid-range product,Regularly busy,Most orders,14
76,1501582,2,2,5,10,10.0,no,19051,5,0,"Pita Chips, Simply Naked, Party Size",19.0,both,No,3.9,both,Low-range product,Regularly busy,Most orders,14
77,1501582,2,2,5,10,10.0,no,8138,6,0,Traditional Hummus,20.0,both,No,2.0,both,Low-range product,Regularly busy,Most orders,14
78,1901567,2,3,1,10,3.0,no,47766,1,1,Organic Avocado,4.0,both,No,6.3,both,Mid-range product,Busiest days,Most orders,14
79,1901567,2,3,1,10,3.0,no,32792,2,1,Chipotle Beef & Pork Realstick,19.0,both,No,5.2,both,Mid-range product,Busiest days,Most orders,14
80,1901567,2,3,1,10,3.0,no,20574,3,1,Roasted Turkey,20.0,both,No,2.3,both,Low-range product,Busiest days,Most orders,14
81,1901567,2,3,1,10,3.0,no,7781,4,0,Organic Sticks Low Moisture Part Skim Mozzarel...,16.0,both,No,6.6,both,Mid-range product,Busiest days,Most orders,14
82,1901567,2,3,1,10,3.0,no,28874,5,0,Carrot Ginger Soup,20.0,both,No,6.2,both,Mid-range product,Busiest days,Most orders,14
83,738281,2,4,2,10,8.0,no,49451,1,0,Artichoke Spinach Dip,20.0,both,No,7.1,both,Mid-range product,Regularly busy,Most orders,14
84,738281,2,4,2,10,8.0,no,32792,2,1,Chipotle Beef & Pork Realstick,19.0,both,No,5.2,both,Mid-range product,Regularly busy,Most orders,14
85,738281,2,4,2,10,8.0,no,32139,3,0,Hommus Classic Original,20.0,both,No,7.5,both,Mid-range product,Regularly busy,Most orders,14
86,738281,2,4,2,10,8.0,no,34688,4,0,Good Belly Probiotics Juice Drink Blueberry Ac...,7.0,both,No,5.8,both,Mid-range product,Regularly busy,Most orders,14
87,738281,2,4,2,10,8.0,no,36735,5,0,Organic Roasted Sliced Chicken Breast,20.0,both,No,8.9,both,Mid-range product,Regularly busy,Most orders,14
88,738281,2,4,2,10,8.0,no,37646,6,0,Organic Gala Apples,4.0,both,No,9.1,both,Mid-range product,Regularly busy,Most orders,14
89,738281,2,4,2,10,8.0,no,22829,7,0,Multigrain Flax Seeded Flatbread Crackers,19.0,both,No,5.5,both,Mid-range product,Regularly busy,Most orders,14
90,738281,2,4,2,10,8.0,no,24852,8,0,Banana,4.0,both,No,12.3,both,Mid-range product,Regularly busy,Most orders,14
91,738281,2,4,2,10,8.0,no,47209,9,0,Organic Hass Avocado,4.0,both,No,4.0,both,Low-range product,Regularly busy,Most orders,14
92,738281,2,4,2,10,8.0,no,33276,10,0,Kalamata Olive Spread,20.0,both,No,10.8,both,Mid-range product,Regularly busy,Most orders,14
93,738281,2,4,2,10,8.0,no,45613,11,0,Pad Thai,1.0,both,No,12.6,both,Mid-range product,Regularly busy,Most orders,14
94,738281,2,4,2,10,8.0,no,9681,12,0,Chicken Tikka Masala with Cumin Infused Basmat...,1.0,both,No,2.0,both,Low-range product,Regularly busy,Most orders,14
95,738281,2,4,2,10,8.0,no,21150,13,0,Fire Grilled Steak Bowl,1.0,both,No,5.9,both,Mid-range product,Regularly busy,Most orders,14
96,1673511,2,5,3,11,8.0,no,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,16.0,both,No,14.0,both,Mid-range product,Slowest days,Most orders,14
97,1673511,2,5,3,11,8.0,no,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,19.0,both,No,2.9,both,Low-range product,Slowest days,Most orders,14
98,1673511,2,5,3,11,8.0,no,17224,3,0,Oats & Honey Gluten Free Granola,19.0,both,No,1.6,both,Low-range product,Slowest days,Most orders,14
99,1673511,2,5,3,11,8.0,no,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,19.0,both,No,3.4,both,Low-range product,Slowest days,Most orders,14

In [16]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15892177
Loyal customer      10294163
New customer         6249859
Name: count, dtype: int64

In [18]:
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

Aggregating order_number by department_id for the full df

In [19]:
df_ords_prods_merge.groupby('department_id').agg({'order_number': 'mean'})

               order_number
department_id
1.0               15.457838
2.0               17.277920
3.0               17.170395
4.0               17.811403
5.0               15.215751
6.0               16.439806
7.0               17.225790
8.0               15.340650
9.0               15.895474
10.0              20.197148
11.0              16.164348
12.0              15.887671
13.0              16.583536
14.0              16.773669
15.0              16.165037
16.0              17.664928
17.0              15.694469
18.0              19.310281
19.0              17.177343
20.0              16.473447
21.0              22.902379

Importing the departments dataset

In [20]:
df_departments = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'departments_wrangled.csv'))

In [21]:
df_departments

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

Difference in results from the subset to the full df

In the sub set, the department appearing in the most number of orders was 21 (missing) and the second most popular department in orders was 10 (personal care). The department appearing in the fewest orders is 1 (frozen). 

When the whole df is considered then department 5 (alcohol) appears in the fewest orders. 21 and 10 are still the most frequent departments in orders.

In [22]:
df_ords_prods_merge.groupby("loyalty_flag")["prices"].agg(["min", "max", "mean"])

                  min      max       mean
loyalty_flag
Loyal customer    1.0  99999.0  10.386288
New customer      1.0  99999.0  13.294323
Regular customer  1.0  99999.0  12.495476

When just looking at the prices paid by customers, generally there is no difference - all customer types buy the cheapest and most expensive products (min/max)

Looking at the mean price paid by the customer groups we can see that the average product price paid by new customers tends to be higher, with loyal customers paying on average the lowest price per item.

In [23]:
df_ords_prods_merge.groupby(["loyalty_flag", "price_range_loc"]).size().reset_index(name="counts")

       loyalty_flag     price_range_loc   counts
0    Loyal customer  High-range product   119936
1    Loyal customer   Low-range product  3214757
2    Loyal customer   Mid-range product   216901
3      New customer  High-range product    85652
4      New customer   Low-range product  1952933
5      New customer   Mid-range product   131619
6  Regular customer  High-range product   212090
7  Regular customer   Low-range product  4959193
8  Regular customer   Mid-range product   324003

Instead I thought I would look at the price groups from a previous Exercise. A few interesting insights surfaced:

The Regular Customer group buys nearly half of all items purchased (49%) compared to 32% by Loyal customers and 19% by New Customers

Nonetheless, when looking at the split of what each customer group buys by price range, each customer group buys broadly the same split of priced products, namely 4% high-range products, 6% mid-range and 90% low-range - just 3% items bought by loyal customers were high-range products and 91% were low-range.

Interesting, it is the regular customer group who buys the most (51%) amount of the high-priced items sold on Instacart.

Aggregating product prices using transform function

In [24]:
df_ords_prods_merge['avg_product_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\chris\AppData\Local\Temp\ipykernel_11520\3788972221.py:1: FutureWarning: The provided callable <function mean at 0x00000249D00DFBA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['avg_product_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

Checking the result

In [25]:
df_ords_prods_merge[['user_id', 'avg_product_price']].head(60)

    user_id  avg_product_price
0         1           6.367797
1         1           6.367797
2         1           6.367797
3         1           6.367797
4         1           6.367797
5         1           6.367797
6         1           6.367797
7         1           6.367797
8         1           6.367797
9         1           6.367797
10        1           6.367797
11        1           6.367797
12        1           6.367797
13        1           6.367797
14        1           6.367797
15        1           6.367797
16        1           6.367797
17        1           6.367797
18        1           6.367797
19        1           6.367797
20        1           6.367797
21        1           6.367797
22        1           6.367797
23        1           6.367797
24        1           6.367797
25        1           6.367797
26        1           6.367797
27        1           6.367797
28        1           6.367797
29        1           6.367797
30        1           6.367797
31        1           6.367797
32        1           6.367797
33        1           6.367797
34        1           6.367797
35        1           6.367797
36        1           6.367797
37        1           6.367797
38        1           6.367797
39        1           6.367797
40        1           6.367797
41        1           6.367797
42        1           6.367797
43        1           6.367797
44        1           6.367797
45        1           6.367797
46        1           6.367797
47        1           6.367797
48        1           6.367797
49        1           6.367797
50        1           6.367797
51        1           6.367797
52        1           6.367797
53        1           6.367797
54        1           6.367797
55        1           6.367797
56        1           6.367797
57        1           6.367797
58        1           6.367797
59        2           7.515897

Creating a spend flag for average product price

In [26]:
def spend_flag(row):

  if row['avg_product_price'] < 10:
    return 'Low spender'
  elif row['avg_product_price'] >= 10:
    return 'High spender'
  else: return 'Not enough data'

Applying the flag to the df

In [27]:
df_ords_prods_merge['spend_flag'] = df_ords_prods_merge.apply(spend_flag, axis=1)

In [28]:
df_ords_prods_merge[['user_id', 'avg_product_price', 'spend_flag']].head()

   user_id  avg_product_price   spend_flag
0        1           6.367797  Low spender
1        1           6.367797  Low spender
2        1           6.367797  Low spender
3        1           6.367797  Low spender
4        1           6.367797  Low spender

Checking the frenquency of the customer spend category variable

In [29]:
df_ords_prods_merge['spend_flag'].value_counts(dropna = False)

spend_flag
Low spender     31801544
High spender      634655
Name: count, dtype: int64

Creating an additional variable for the median days since the last order

In [30]:
df_ords_prods_merge['median_days_since_prior_order'] = df_ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)

C:\Users\chris\AppData\Local\Temp\ipykernel_11520\103045758.py:1: FutureWarning: The provided callable <function median at 0x00000249D023F100> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['median_days_since_prior_order'] = df_ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)

Creating a frequency flag

In [31]:
def frequency_flag(row):

  if row['median_days_since_prior_order'] > 20:
    return 'Non-frequent customer'
  elif row['median_days_since_prior_order'] <= 10:
    return 'Frequent customer'
  elif (row['median_days_since_prior_order'] > 10) and (row['median_days_since_prior_order'] <= 20) :
    return 'Regular customer'
  else: return 'Not enough data'

Function to reduce memory usage

In [32]:
def reduce_dtypes(df):
    for col in df_ords_prods_merge.columns:
        col_type = df_ords_prods_merge[col].dtype

Apply the flag to the df

In [33]:
df_ords_prods_merge['frequency_flag'] = df_ords_prods_merge.apply(frequency_flag, axis=1)

Printing the frequency of the new variable

In [34]:
df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        22816451
Regular customer          6929355
Non-frequent customer     2690393
Name: count, dtype: int64

Exporting the df as a new dataset

In [37]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02. Data','Prepared Data', 'order_products_agg_variables.pkl'))